<div class="row">
  <div class="span7">
    <h3>
      <a href="<%=url_for @workshop%>"><%=@workshop.name%></a>
    </h3>
    <p>
      <%=@workshop.description%></p>
    <h5>Prerequisites:</h5>
    <%= markdown(@workshop.requisites)%>
    <h5>Details:</h5>
    <%= markdown(@workshop.details)%>
  </div>
  <div class="span5">
    <h4>Calendar</h4>
    <p>There are no upcoming dates for this workshop. Vote for it to bring it to your city!</p>
    <p>The more votes we have the easier it gets to plan where and when to hold this workshop next.</p>
    <br/>
    <a href="" class="btn">sign in to vote &rarr;</a> 
    <p>(we use your email for signups; and we have zero tolerance for spam)</p>
  </div>
</div>